<p class="message">
  {{ message }}
</p>



<!--
<input type="text" placeholder="Driver’s License No (Optional)"
       formControlName="employeeDriverLicenseNumber" pInputText style="width: 100%"/>
<label>Driver’s License No </label>
<div class="ui-message ui-messages-error ui-corner-all" style="position: static;"
     *ngIf="!nhfc['employeeDriverLicenseNumber'].valid && (nhfc['employeeDriverLicenseNumber'].touched || formSubmitted)">
  Value is required.
</div>
-->

<div class="p-grid">

  <div class="p-col-6">
<!--    <img src="https://www.fillmurray.com/640/360" ngxViewer  [viewerOptions]="viewerOptions" (viewerReady)="onViewerReady($event)"  alt="image viewer" width="100em">-->


<!--  <div ngxViewer ngxViewer  [viewerOptions]="viewerOptions" (viewerReady)="onViewerReady($event)">
    <img src="https://picsum.photos/2000/1500/?random=1" alt="Image 1" width="100em">
    <img src="https://picsum.photos/2000/1500/?random=2" alt="Image 2" width="100em"  style="display:none">
    <img src="https://picsum.photos/2000/1500/?random=3" alt="Image 3" width="10em">
  </div>-->

<!--    <div ngxViewer ngxViewer  [viewerOptions]="viewerOptions" (viewerReady)="onViewerReady($event)">
      <img  *ngFor="let item of items; let i=index" src="https://picsum.photos/2000/1500/?random={{item}}" alt="Image {{item}}" width="30em">
    </div>-->

    <div ngxViewer ngxViewer  [viewerOptions]="viewerOptions" (viewerReady)="onViewerReady($event)">
      <img  *ngFor="let item of items; let i=index" src="http://127.0.0.1:3000/imageviewer?page={{item}}" alt="Image {{item}}" width="100em" >
    </div>

<!--    <div ngxViewer ngxViewer  [viewerOptions]="viewerOptions" (viewerReady)="onViewerReady($event)" *ngFor="let item of items; let i=index">
      <img src="https://picsum.photos/2000/1500/?random={{item}}" alt="Image {{item}}" width="100em">
    </div>-->


  </div>

    <div class="p-col-6">
<!--      <div id="viewerjs" class="preview content" style="float: left;"> <img src="https://picsum.photos/2000/1500" alt="1" class="editImage"> </div>-->
    </div>

  <div class="p-col-6">

  </div>
  <div class="p-col-6">

  </div>
</div>

  <form class="p-grid" [formGroup]="addressForm" (ngSubmit)="onSubmit()">


    <label  class="p-col-2">Address Line 1:</label>

  <div class="p-col-10">
    <input type="text" pInputText formControlName="addressLine1"/>
    <div class="ui-message ui-messages-error" style="position: static;"
         *ngIf="fc['addressLine1'].valid && fc['addressLine1'].touched ">
      Value is required.
    </div>
  </div>


    <label class="p-col-2">Address Line 2:</label>

  <div class="p-col-10">
    <input type="text" formControlName="addressLine2">
  </div>

    <label class="p-col-2">City:</label>

  <div class="p-col-10">
    <input type="text" formControlName="city">
  </div>

    <label class="p-col-2">State:</label>

  <div class="p-col-10">
    <input type="text" formControlName="state">
  </div>

    <label class="p-col-2">Zip:</label>

  <div class="p-col-10">
    <input type="text" formControlName="zip">
  </div>

  <div class="p-col-2" style="text-align: right">
    <button type="submit" [disabled]="!addressForm.valid">Submit</button>
  </div>

</form>



<form [formGroup]="myForm"
      (ngSubmit)="onSubmit2(myForm.value)"
      class="simple-form">

  <div class="field" [class.error]="!myForm.controls.sku.valid && myForm.controls.sku.touched">
    <label for="skuInput">SKU</label>
    <input type="text"
           id="skuInput"
           placeholder="SKU"
           [formControl]="myForm.controls['sku']">
    <div *ngIf="!myForm.controls.sku.valid"
         class="ui error message">SKU is invalid
    </div>
  </div>

  <button type="submit" class="ui button">Submit</button>
</form>

<div class="error" ng-show="myForm.firstName.$touched">
  E-mail is dirty
</div>


<p-dialog [(visible)]="displayConfirmDialog" [responsive]="true" showEffect="fade" [modal]="true" [closable]="false"
          [style]="{width: '30%'}">
  <div class="dialog-box">
    <h1 style="text-align: center">Deleting Info.</h1>
    <p style="padding: 10px 10px"> Are you sure to delete selected record?</p>
    <br>
    <p-button (click)="displayConfirmDialog=false" label="  Cancel  "></p-button> &nbsp;&nbsp;
    <p-button (click)="confirmAction()" label="  Yes  "></p-button>
    <br><br>
  </div>
</p-dialog>

<p-confirmDialog [style]="{width: '50px'}"></p-confirmDialog>

<button type="button" (click)="showConfirm()" pButton icon="pi pi-check" label="Confirm"></button>

<p-messages></p-messages>

