<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<h1>{{ value }}</h1>

<hr>

<button (click)="increment()" class="increment">Increment</button>
<button (click)="decrement()" class="decrement">Decrement</button>

<p class="message">
  {{ message }}
</p>

<div [hidden]="!even">
  Number is Odd
</div>

<div [hidden]="even">
  Number is Even
</div>


<form [formGroup]="addressForm" (ngSubmit)="onSubmit()">

  <label>
    Address Line 1:
    <input type="text" formControlName="addressLine1">
  </label>

<br>
  <label>
    Address Line 2:
    <input type="text" formControlName="addressLine2">
  </label>

  <br>
  <label>
    City:
    <input type="text" formControlName="city">
  </label>
  <br>
  <label>
    State:
    <input type="text" formControlName="state">
  </label>
  <br>
  <label>
    Zip:
    <input type="text" formControlName="zip">
  </label>

  <button type="submit" [disabled]="!addressForm.valid">Submit</button>
</form>

<form [formGroup]="myForm"
      (ngSubmit)="onSubmit2(myForm.value)"
      class="simple-form">

  <div class="field" [class.error]="!myForm.controls.sku.valid && myForm.controls.sku.touched">
    <label for="skuInput">SKU</label>
    <input type="text"
           id="skuInput"
           placeholder="SKU"
           [formControl]="myForm.controls['sku']">
    <div *ngIf="!myForm.controls.sku.valid"
         class="ui error message">SKU is invalid
    </div>
  </div>

  <button type="submit" class="ui button">Submit</button>
</form>

<div class="error" ng-show="myForm.firstName.$touched">
  E-mail is dirty
</div>


<p-table #tt [columns]="cols" [value]="allTodos" show-filter="true" [paginator]="true" [rows]="10"
         (onPage)="paginate($event)"
         sortMode="single" sortField="title" sortOrder=-1 autoLayout="true" [rowsPerPageOptions]="[5,10,20,50]"
         [totalRecords]="totalRecords" [loading]="loading" selectionMode="multiple" [(selection)]="selectedTodos">

  <ng-template pTemplate="caption">
    Todo List
  </ng-template>

  <ng-template pTemplate="header" let-columns>
    <tr>
      <th style="width: 3em">
      </th>

      <th *ngFor="let col of columns" [pSortableColumn]="col.field">
        {{col.header}}
        <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>
    </tr>
    <tr>
      <th style="width: 3em">
        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
      </th>

      <th *ngFor="let col of columns" [ngSwitch]="col.field" >
        <input *ngSwitchCase="'id'" pInputText type="text"
               (input)="tt.filter($event.target.value, col.field, col.filterMatchMode)">

        <p-dropdown *ngSwitchCase="'userId'" [options]="userIds" [style]="{'width':'20%'}"
                    (onChange)="tt.filter($event.value, col.field, 'equals')"></p-dropdown>

        <input *ngSwitchCase="'created_date'" pInputText type="text"
               (input)="tt.filter(($event.target.value ), col.field, 'contains')">


        <input *ngSwitchDefault pInputText type="text"
               (input)="tt.filter($event.target.value, col.field, col.filterMatchMode)">

      </th>
    </tr>

  </ng-template>


  <ng-template pTemplate="body" let-todo let-columns="columns">
    <tr [pSelectableRow]="todo">
      <td>
        <p-tableCheckbox [value]="todo"></p-tableCheckbox>
      </td>

      <td *ngFor="let col of columns" [ngSwitch]="col.field">


        <a *ngSwitchCase="'id'" style="cursor:pointer"
           (click)="showConfirm()">{{todo[col.field]}}</a>

        <span *ngSwitchCase="'created_date'"  filter="{ id: 'text'}">
        {{todo.created_date  }}
        </span>

        <span *ngSwitchDefault>
        {{todo[col.field] }}
        </span>

      </td>

    </tr>
  </ng-template>


  <ng-template pTemplate="emptymessage" let-columns>
    <tr>
      <td [attr.colspan]="columns.length +1">
        No records found.
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="summary">
    <ul>
      <li *ngFor="let todo of selectedTodos" style="text-align: left">
        {{todo.id + ' - ' + todo.title }}
      </li>
    </ul>
  </ng-template>


</p-table>


<p-dialog  [(visible)]="displayConfirmDialog" [responsive]="true" showEffect="fade" [modal]="true"  [closable]="false"  [style]="{width: '30%'}"  >
  <div class="dialog-box">
    <h1  style="text-align: center">Deleting New Hire Info.</h1>
    <p style="padding: 10px 10px"> Are you sure to delete selected New Hire record?</p>
    <br>
    <p-button  (click)="displayConfirmDialog=false" label="  Cancel  "></p-button> &nbsp;&nbsp;
    <p-button  (click)="confirmAction()" label="  Yes  "></p-button>
    <br><br>
  </div>
</p-dialog>

<p-confirmDialog [style]="{width: '50px'}"></p-confirmDialog>

<button type="button" (click)="showConfirm()" pButton icon="pi pi-check" label="Confirm"></button>

<p-messages></p-messages>
